---
import Title from '../../core/ui/Title.astro'
import StackCard from '../ui/StackCard.astro'
import { AllIconsStackFronted, AllIconsStackTools } from '../../core/icons/IconStack'
import { WEBSITE_SKILLS } from '../../../utils/constants/website'
const { title, subtitle, paragraph } = WEBSITE_SKILLS
---

<article id='skills' class='pt-12 pb-8'>
  <article class='grid grid-cols-1 gap-4 max-w-350 mx-auto py-8 px-4'>
    <article>
      <Title title={title} subtitle={subtitle} />
      <section class='relative'>
        {paragraph.map((text) => <p class='prose dark:prose-invert'>{text}</p>)}
      </section>
    </article>

    <article class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4'>
      <StackCard title='Frontend'><AllIconsStackFronted theClass='h-10' slot='stack' /></StackCard>
      <StackCard title='Tools'><AllIconsStackTools theClass='h-10' slot='stack' /></StackCard>
    </article>
  </article>
</article>
