@font-face {
  font-family: 'Basicaline';
  src: url('/fonts/Basicaline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #ff411d;
  --primary: #4e40de;
  --secondary: #b21813;
  --custom-source: 'Basicaline', sans-serif;
}

:root {
  --main-source: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-selection: #1b1919;
  --underlay-dark: #1d2129;
  --underlay-light: #efefef;
}
