---
import Layout from '../layouts/Layout.astro'
import Header from '../components/home/layout/Header.astro'
import Navbar from '../components/core/layout/Navbar'
import AboutMe from '../components/home/layout/AboutMe.astro'
import ProjectsHighlight from '../components/home/layout/ProjectsHighlight.astro'
import Skills from '../components/home/layout/Skills.astro'
---

<Layout>
  <Navbar client:only />
  <Header />

  <main id='main'>
    <AboutMe />
    <ProjectsHighlight />
    <Skills />

    <article id='contact' class='min-h-[50vh]'>
      <h2>Contact</h2>
    </article>
  </main>

  <footer>
    <p>Vectors and icons by vscode-icons in MIT License via <a href='https://svgowl.com/' target='_blank'>SVG OWL</a></p>
    <article>
      <p>Social</p>
    </article>
  </footer>
</Layout>
