---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <nav>
      <a href='/'>Home</a>
      <a href='/project'>Projects</a>
      <a href='/contact'>Contact</a>
    </nav>
    <article>
      <h1>Portfolio</h1>
      <img src='#' alt='img' />
    </article>
  </header>
  <main>
    <article>
      <h2>Projects</h2>

      <section>
        <section>
          <section>
            <h3>Title 1</h3>
            <p>Description 1</p>
            <p>technologies used</p>
          </section>
          <img src='#' alt='projectName-img' />
        </section>
      </section>
    </article>

    <article>
      <h2>Skills</h2>
    </article>

    <article>
      <h2>About Me</h2>
    </article>
  </main>

  <footer>
    <p>© 2025 Bryan Grandon. All rights reserved.</p>
    <article>
      <p>Social</p>
    </article>
  </footer>
</Layout>
