---
import Layout from '../layouts/Layout.astro'
import Header from '../components/home/layout/Header.astro'
import Navbar from '../components/core/layout/Navbar'
import AboutMe from '../components/home/layout/AboutMe.astro'
import ProjectsHighlight from '../components/home/layout/ProjectsHighlight.astro'
import Skills from '../components/home/layout/Skills.astro'
import ContactMe from '../components/home/layout/ContactMe.astro'
import Footer from '../components/core/layout/Footer.astro'
---

<Layout>
  <Navbar client:only />
  <Header />

  <main id='main'>
    <AboutMe />
    <ProjectsHighlight />
    <Skills />
    <ContactMe />
  </main>

  <Footer />
</Layout>
