---
import Layout from '../layouts/Layout.astro'
import Header from '../components/home/layout/Header.astro'
import Navbar from '../components/core/layout/Navbar'
import AboutMe from '../components/home/layout/AboutMe.astro'
import ProjectsHighlight from '../components/home/layout/ProjectsHighlight.astro'
---

<Layout>
  <Navbar client:only />
  <Header />

  <main id='main'>
    <AboutMe />

    <ProjectsHighlight />

    <article id='skills' class='min-h-[50vh]'>
      <h2>Skills</h2>
    </article>

    <article id='contact' class='min-h-[50vh]'>
      <h2>Contact</h2>
    </article>
  </main>

  <footer>
    <p>© 2025 Bryan Grandon. All rights reserved.</p>
    <article>
      <p>Social</p>
    </article>
  </footer>
</Layout>
