---
// CSS
import '../styles/global.css'
import '../styles/base.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/Portfolio/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Portfolio</title>
    <meta name='description' content='My portfolio, a showcase of my work and skills as a front-end developer.' />
    <meta name='keywords' content='Portfolio Front-end, Portfolio, portfolio' />
    <meta name='author' content='Bryan Grandón' />
    <meta name='generator' content='VSCode, preact, astro, tailwind' />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
